.box {
  background-color: aliceblue;
  height: 500px;
  width: 200px;

  .box-item {
    $var: 100px;
    height: 200px; /* commrn
     test */
    background-color: red;
  }
}

// comment .box-item

[lang~='en-us'] {
  color: rebeccapurple;
}
