.box {
  background-color: aliceblue;
  height: 500px;
  width: 200px;

  .box-item {
    $var: 100px;

    // ĐÚNG
    height: 200px;
    background-color: red;

    
    Width: 100px;
    COLOR: red;
  }
}

a {
  @if $x == 1 {
  } @else {
    // ĐÚNG
  }
  width: 10px;
}

// comment .box-item

[lang~='en-us'] {
  color: rebeccapurple;
}
